@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    background: hsl(30, 38%, 92%);
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 90%;
    max-width: 400px;
    height: 100%;
    max-height: 600px;
    border-radius: 20px;
}

.card-container img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-container .text{
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container .text p, .card-container .text .btn{
    font-family: "Montserrat";
}

.card-container .text h1, .card-container .text .price{
    font-family: "Fraunces";
}

.card-container .text p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.card-container .text p:nth-child(1){
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card-container .text .descr{
    margin: 10px 0;
}

.card-container .text h1{
    color: hsl(212, 21%, 14%);
    font-weight: initial;
}

.text .price{
    display: flex;
    align-items: center;
    gap: 20px;
}

.text .price h1{
    color: hsl(158, 36%, 37%);
}

.text .price small{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
   font-family: "Montserrat";
}

.btn{
    width: 100%;
    background: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 13px 0;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

.btn:hover{
    background: hsl(157, 36%, 27%);
    cursor: pointer;
}

.btn img{
    width: 15px;
}

@media screen and (min-width: 800px) {
    .card-container{
        flex-direction: row;
        max-width: 600px;
        max-height: 400px;
        overflow: hidden;
    }

    .card-container picture{
        height: 100%;
        width: 50%;
    }

    .card-container > picture img{
        height: 100%;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }

    .card-container .text{
       width: 50%; 
    }
}


.attribution{
    font-size: 14px; 
    text-align: center;
    margin-top: 30px; 
    font-family: "Montserrat";
}

.attribution a{
    color: hsl(158, 36%, 37%); 
}